/* html {
    width: 100%;
    height: 100%;
} */

body,
html {
    height: 100%;
    background: green;
}

main {
    display: grid;
    /* grid-template-rows: 1fr 12fr 3fr; */
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
}

div {
    list-style: none;
    border: black thin dashed;
}

.keyboard {
    display: flex;
    justify-content: center;
    width: device-width;
}

.sq {
    width: 5rem;
    height: 5rem;
}

button {
    height: 3.8em;
    width: 2.85em;
    /* width:10%; */
    margin: .2em;
    text-transform: uppercase;
    padding: .5em 0.2%;
    border-radius: .4em;
    border: none;
    font-size: 1em;
}

.large {
    width: 4.275em;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

#squares {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 25rem;
    height: 30rem;
    justify-content: center;
}

.sq {
    background: yellow;
    border: black thin dashed;
}

@media screen and (max-width: 600px) {
    button {
        width: 8.5%;
    }
    .large {
        width: 20%;
        padding: 0;
    }
    .keyboardw {
        padding-bottom: 0.5em;
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
}

* {
    margin: 0;
    padding: 0;
}